<div class="content" ng-controller="modemsController as vm">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="h2-tit ">
      			<span class="fa fa-wifi"></span> Administración de {{ ::vm.windowTitle }}
    		</h2>
    	</div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
            <div class="panel panel-heading"><strong>Parámetros</strong></div>
           		<div class="panel-body">
                    <div class="col-lg-10 col-md-10 col-sm-8">
	             		<ul class="nav nav-tabs">
	 							<li ng-class="{ active: vm.isSet('data', 1) }"><a data-toggle="tab">Países</a></li>
						</ul>	
					</div>
                 	<div class="panel panel-default col-lg-12 col-md-12 col-sm-12">
                      	<div class="panel-body" ng-show="true">
							<div class="container-fluid">
		                        <div class="table-responsive" style="overflow:hidden">
		                        	<div class="row">
		                        		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			                        		<label>País:</label>
			                                <select class="form-control" name="idPais" ng-model="vm.estado.idPais"
		                                        ng-options="item.id as item.id +' - ' + item.nombre for item in vm.paises track by item.id"
		                                        ng-disabled="false">
			                                    <option value="">{{ ::vm.DEFAULT_OPTION_SELECT }}</option>
			                                </select>
			                            </div>
										<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12" ng-show='true'>
				                       		<label class='recortado'>ID Estado:</label>
				                               <input type="number" name="idEstado" id="idEstado" class="form-control" title=""
				                                     ng-model="vm.estado.id" min="0" max="999" 
				                                     maxlength="3" ng-disabled="false">
				                        </div>
				                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12" ng-show='true'>
				                       		<label class='recortado'>Nombre:</label>
				                               <input type="text" name="nombre" class="form-control" title=""
				                                     ng-model="vm.estado.nombre" ng-disabled="false">
				                    	</div>
				                    	<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12" ng-show='true'>
				                       		<label class='recortado'>Nombre Corto:</label>
				                               <input type="text" name="nombre" class="form-control" title=""
				                                     ng-model="vm.estado.nombreCorto" ng-disabled="false">
				                    	</div>
				                   		<div class="col-lg-2 col-md-2">
				                            <button style="margin-top:25px" class="btn btn-default btn-default2 pull-right" ng-click="vm.saveEstado()" 
				                            	ng-disabled="!vm.estado.idPais || vm.estado.id == 0 || !vm.estado.nombre">
							                    <i class="fa fa-floppy-o"></i>&nbsp;Guardar
							                </button>
				                        </div>
				                   	</div>
				                   	<div class="row separador"></div>
				                   	<div class="row">
					                	<div class="col-lg-12">
					                       <div class="panel panel-default">
					                           <div class="panel-body">
					                               <div id="grid1" ng-style="{'cursor': pointer}" class="grid" data-ui-grid="vm.gridOptions" ui-grid-auto-resize data-ui-grid-pagination data-ui-grid-selection data-ui-grid-exporter>
					                               </div>
					                           </div>
					                       </div>
					                    </div>
					                </div>
				                   	<div class="row">&nbsp;</div>
			                    </div>
		                    </div>
                       	</div>
                  	</div>                  		
             	</div>         
              		
            </div>
        </div>
	</div>
</div>

